:javascript
  // THIS FUNCTION REGENERATES THE GRAPHS
  function regenGraphs() {
    var listitem = $("#gridlist").children("li");
    listitem.each(function (i) {
            idsearch = $(this).children(".panel-heading").prop("id");
            droppableDiv = $(this).prop("id");
            if ($(this).children(".panel-heading").hasClass("timeseries") && $.isNumeric($(this).children(".panel-heading").prop("id"))) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_timeseries");
            } else if ( $(this).children(".panel-heading").hasClass("termstructure") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_termstructure");
            } else if ( $(this).children(".panel-heading").hasClass("datatable") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_datatable");
            } else if ( $(this).children(".panel-heading").hasClass("details") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_details");
            } else if ( $(this).children(".panel-heading").hasClass("delta") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_delta");
            } else if ( $(this).children(".panel-heading").hasClass("ois") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_ois");
            } else if ( $(this).children(".panel-heading").hasClass("ccy") && $.isNumeric($(this).children(".panel-heading").prop("id")) ) {
                ajaxGraphs("/users/#{@user.id}/searches/" + idsearch + "/show_ccy");
            }
        });
    graphChecker();
    spinner.stop();
    $('#mainpage').fadeTo('slow', 1);

    }

  // THIS FUNCTION MAKES THE AJAX CALL
  function ajaxGraphs(string) {
    $.ajax({
        async: false,
        url: string
    });
  }

  function graphChecker() {
    var listitem = $("#gridlist").children("li");
    listitem.each(function (i) {
            if ( $(this).children(".panel-body").html() == "" ) {
              regenGraphs();
            }
          });
    }
