:javascript
 // THE FOLLOWING GENERATES THE DRAGGABLE FUNCTION
  $(function () {

    $(".draggable").draggable({
      helper: 'clone',
      drag: function (event, ui) {
          $(".droppable").droppable({
              accept: '.draggable',
              hoverClass: "drop-hover",
              drop: function (event, ui) {
                  droppableDiv = $(event.target).attr('id');
                  alert(droppableDiv);
                  searchId = ui.draggable.attr("id");
                  panelid = $(event.target).children('.panel-heading').attr('id', searchId);
                  alert(panelid);
                  if ( $(event.target).children(".panel-heading").hasClass("timeseries") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_timeseries"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("termstructure") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_termstructure"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("datatable") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_datatable"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("details") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_details"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("delta") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_delta"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("ois") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_ois"
                      });
                  } else if ( $(event.target).children(".panel-heading").hasClass("ccy") ) {
                      $.ajax({
                          url: "/users/#{@user.id}/searches/" + searchId + "/show_ccy"
                      });
                    } 
                  }
              });
          }
      });
    
  });

  // THE FOLLOWING CLOSES WIDGETS
  $(document).on("click", ".closer", function (e) {
      e.preventDefault();
      gridster.remove_widget($(this).parent().parent().parent());
  });
