.searchlister
  - @searches.each do |s|
    %li.draggable{style:"text-align:left !important;padding:2px;border:1px solid;", :id => "#{s.id}"}
      / .draggable{style:"font-size:10px;border:1px solid white;"}
      %a{:href => "javascript:void(0)",style:"display:block;z-index:10000000000000000000000000000000000000000000000;"}=s.name 
    .tooltiptext{style:"display:none;font-size:10px !important;line-height:18px;"}
      %p
        Name:   #{s.name}
      %p
        Taxonomy:   #{s.taxonomy}
      %p
        Cleared:    #{s.cleared}
      %p
        Indication of Collateralization:    #{s.indication_of_collateralization}
      %p
        Indication of End User Exception:   #{s.indication_of_end_user_exception}
      %p
        SEF?:   #{s.execution_venue}
      %p
        Effective date:   #{s.effective_date}
      %p
        End date:   #{s.end_date}
      %p
        Currency:   #{s.settlement_currency}
      %p
        Leg1 Currency:    #{s.notional_currency_1}
      %p
        Leg2 Currency:    #{s.notional_currency_2}
      %p
        Notional 1:   #{s.rounded_notional_amount_1}
      %p
        Notional 2:   #{s.rounded_notional_amount_2}
      %p
        Strike:   #{s.option_strike_price}
      %p
        Position:   #{s.option_type}
      %p
        Premium:   #{s.option_premium}
      %p
        Expiry:    #{s.option_expiration_date}
      %p
        Libor Basis:    #{s.floating_leg_reset}
      %p
        = link_to edit_user_search_path(@user, s.id), {remote: true} do
          Edit
          %i.fa.fa-edit
      %p
        = link_to user_search_path(@user, s.id), :method => :delete, :data => { :confirm => 'Are you sure?' } do
          Delete
          %i.fa.fa-trash-o

  :javascript
    $('li.draggable').each(function() {
      $(this).qtip({
        title: "hello",
        content: {
            title: 'Details',
            text: $(this).next('.tooltiptext')
         },
        position: {
            my: 'top left',  // Position my top left...
            at: 'top right', // at the bottom right of...
            target: $("#sidebar") // my target
        },
        show: {
            solo: true,
            event: 'click'
        },
        hide: {
            event: 'click',
        },
        style: {
          height: 900
        }
      });
    });
