/ #wrapper
/   / Sidebar
/   #sidebar-wrapper
/     =render"sidebar"

/   / /#sidebar-wrapper
/   / Page Content

/   #page-content-wrapper
.container
  .row
    .bhoechie-tab-container.bordernone
      .col-lg-2.col-md-2.col-sm-2.col-xs-2.bhoechie-tab-menu
        .list-group{style: "margin-top: 80px;"}
          %a.list-group-item.active.text-center{href: "#"}
            = image_tag("scatterplot.png")
            = succeed "Time Series" do
              %br/
          %a.list-group-item.text-center{href: "#"}
            %i.icon-line-graph
            = succeed "Term Structure" do
              %br/
          %a.list-group-item.text-center{href: "#"}
            %i.fa.fa-bar-chart-o.fa-2x
            = succeed "Delta Bucket" do
              %br/
      .col-md-10.bordernone.bhoechie-tab
        / flight section
        .bhoechie-tab-content.active
          %center
            = high_chart "s", @chart
            = form_tag interest_swaps_path, :method => 'get', :id => "search" do
              %h4
                Insert end date in epoch
                = number_field_tag :search, params[:search], :size => 18
                = submit_tag
        / train section
        .bhoechie-tab-content
          %center
            = high_chart "s2", @chart2
        / hotel search
        .bhoechie-tab-content
          %center
            / = high_chart "s222", @chart3
  / #container{style: "min-width: 310px; height: 400px; margin: 0 auto"}


  / - @fixedfloatswaps.each do |a|
  /   .container
  /     = a.taxonomy
  /     = number_to_percentage(a.price_notation)
  /     = Time.at(a.execution_timestamp)
