#mainpage.container-fluid.nopad
  .gridster.ready
    %ul{:style => "width: 10%; position: relative; height: 325px;"}

=render "/searches/tablemodal"
#testpanel.navbar.navbar-default.navbar-fixed-bottom{style: "display:none;"}
  =render "allsearches"

=render "indexcharts"

:javascript
  $(function(){

  // THE FOLLOWING GENERATES THE GRIDSTER LAYOUT
    gridster = $(".gridster > ul").gridster({
                min_cols: 15,
                widget_base_dimensions: [93, 93],
                widget_margins: [1, 1],
                serialize_params: function ($w, wgd) {
                  return {
                      id: wgd.el[0].id,
                      col: wgd.col,
                      row: wgd.row,
                      htmlContent: $($w).html()
                  };
                },
                draggable: {
                    handle: '.dragDiv'
                },
                helper: 'clone',
                resize: {
                  enabled: true,
                  resize: function(e, ui, $widget) {
                    window.dispatchEvent(new Event('resize'));
                    
                  },
                  stop: function(e, ui, $widget) {
                    window.dispatchEvent(new Event('resize'));
                  },
                  max_size: [12, 12],
                  min_size: [3, 3]
          }
    }).data('gridster');

    $(document).on("click", ".closer", function(e) {
      e.preventDefault();
      gridster.remove_widget($(this).parent().parent().parent());
    });


    i = 0;


  // THE FOLLOWING GENERATES THE TIMESERIES WIDGET
    $("#addtimeseries").click(function(e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default timeseries" id="timeseries'+i+'"><div class="panel-heading dragDiv" id="searchname">Time Series<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" style="width:100%;height:90%;margin: 0 auto"></div></li>', 3, 3);
      i++;
    });



    $("#addtermstructure").click(function(e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default termstructure" id="termstructure'+i+'"><div class="panel-heading dragDiv" id="searchname">Term Structure<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" style="width:100%;height:90%;margin: 0 auto"></div></li>', 3, 3);
      i++;
    });

    $("#adddatatable").click(function(e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default datatable" id="datatable'+i+'"><div class="panel-heading dragDiv" id="searchname">Data Table<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" style="width:100%;height:90%;margin: 0 auto"></div></li>', 3, 3);
      i++;
    });

    $("#adddetails").click(function(e) {
      e.preventDefault();
      gridster.add_widget('<li class="droppable panel panel-default details" id="details'+i+'"><div class="panel-heading dragDiv" id="searchname">Details<div class="btn-group pull-right"><a href="javascript:void(0)" id="closer" class="closer">x</a></div></div><div class="panel-body" style="width:100%;height:90%;margin: 0 auto"></div></li>', 3, 3);
      i++;
    });

    $(".draggable").draggable({
        helper: 'clone',
        drag: function(event, ui) {
        $(".droppable").droppable({
          accept: '.draggable',
          hoverClass: "drop-hover",
          drop: function(event, ui) {
              droppableDiv = $(event.target).attr('id');
              searchId = ui.draggable.attr("id");
              if ( $(event.target).hasClass("timeseries") ){
                $.ajax({
                  url: "/users/#{@user.id}/searches/" +searchId+ "/show_timeseries"
                });
                }
              else if ( $(event.target).hasClass("termstructure") ){
                $.ajax({
                  url: "/users/#{@user.id}/searches/" +searchId+ "/show_termstructure"
                });
                }
              else if ( $(event.target).hasClass("datatable") ){
                $.ajax({
                  url: "/users/#{@user.id}/searches/" +searchId+ "/show_timeseries"
                });
                }
              else if ( $(event.target).hasClass("details") ){
                $.ajax({
                  url: "/users/#{@user.id}/searches/" +searchId+ "/show_timeseries"
                });
                }
              else if ( $(event.target).hasClass("termstructure") ){
                $.ajax({
                  url: "/users/#{@user.id}/searches/" +searchId+ "/show_timeseries"
                });
                }

          }
        });
      }
    });





  });





