= simple_form_for [@user, @search], html: {class: 'form-horizontal' }, remote: true do |f|
  = f.input :name, label: false, placeholder: "Search Name",:input_html => {id: "name", class: "form-control"}
  = f.input :taxonomy,:as => :select, collection: ["InterestRate:IRSwap:FixedFloat","OIS Swap: InterestRate:IRSwap:OIS","CCY Swap: InterestRate:CrossCurrency:Basis ||  InterestRate:CrossCurrency:FixedFloat || InterestRate:CrossCurrency:FixedFixed", "Swaption: InterestRate:Option:Swaption", "Cap/Floor: InterestRate:CapFloor"], label: false, placeholder: "a",:input_html => {id: "market", class: "form-control"}
  #cleared
    = f.input :cleared, label: false, placeholder: "Cleared",:input_html => {class: "form-control"}
  #indcol
    = f.input :indication_of_collateralization, label: false, placeholder: "Indication of Collateralization",:input_html => {class: "form-control"}
  #indexec
    = f.input :indication_of_end_user_exception, label: false, placeholder: "Indication of End User Exception",:input_html => {class: "form-control"}
  #execven
    = f.input :execution_venue, label: false, placeholder: "Execution Venue",:input_html => {class: "form-control"}
  #effdate
    = f.input :effective_date, label: false, placeholder: "Effective Date",:input_html => {class: "form-control"}
  #enddate
    = f.input :end_date, label: false, placeholder: "End Date",:input_html => {class: "form-control"}
  #setcur
    = f.input :settlement_currency, label: false, placeholder: "Settlement Currency",:input_html => {class: "form-control"}
  #notcur1
    = f.input :notional_currency_1, label: false, placeholder: "Notional Currency 1",:input_html => {class: "form-control"}
  #notcur2
    = f.input :notional_currency_2, label: false, placeholder: "Notional Currency 2",:input_html => {class: "form-control"}
  #rnot1
    = f.input :rounded_notional_amount_1, label: false, placeholder: "Rounded Notional Amount 1",:input_html => {class: "form-control"}
  #rnot2
    = f.input :rounded_notional_amount_2, label: false, placeholder: "Rounded Notional Amount 2",:input_html => {class: "form-control"}
  #optstr
    = f.input :option_strike_price, label: false, placeholder: "Option Strike Price",:input_html => {class: "form-control"}
  #optype
    = f.input :option_type, label: false, placeholder: "Option Type",:input_html => {class: "form-control"}
  #optprem
    = f.input :option_premium, label: false, placeholder: "Option Premium",:input_html => {class: "form-control"}
  #optexp
    = f.input :option_expiration_date, label: false, placeholder: "Option Expiration Date",:input_html => {class: "form-control"}
  #floatleg
    = f.input :floating_leg_reset, label: false, placeholder: "Floating Leg Reset",:input_html => {class: "form-control"}
  = f.submit 'Save'

:javascript
  $(document).ready(function (){
    $("#market").change(function() {
        if ($(this).val() == "InterestRate:IRSwap:FixedFloat") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        }

        else if ($(this).val() == "OIS Swap: InterestRate:IRSwap:OIS") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1").toggle("show");
        } 

        else if ($(this).val() == "CCY Swap: InterestRate:CrossCurrency:Basis ||  InterestRate:CrossCurrency:FixedFloat || InterestRate:CrossCurrency:FixedFixed") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #floatleg").toggle("show");
        } 

        else if ($(this).val() == "Swaption: InterestRate:Option:Swaption") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        } 

        else if ($(this).val() == "Cap/Floor: InterestRate:CapFloor") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        } 
    });
  });


