= simple_form_for [@user, @search], html: {class: 'form-horizontal2'}, remote: true do |f|
  #namer
    = f.label :name, "Name: "
    = f.text_field :name
  #market
    = f.label :taxonomy, "Market: "
    = f.select :taxonomy,[["Interest Rate Swap","InterestRate:IRSwap:FixedFloat"], ["OIS Swap", "OIS Swap: InterestRate:IRSwap:OIS"], ["CCY Swap", "CCY Swap: InterestRate:CrossCurrency:Basis"], ["Cross Currency Fixed/Float", "InterestRate:CrossCurrency:FixedFloat"], ["Cross Currency Fixed/Fixed", "InterestRate:CrossCurrency:FixedFixed"], ["Swaption", "Swaption: InterestRate:Option:Swaption"], ["Cap/Floor", "Cap/Floor: InterestRate:CapFloor"]]
  #cleared
    = f.label :cleared, "Cleared: "
    = f.select :cleared, [["Cleared", "C"],["Uncleared", "U"]]
  #indcol
    = f.label  :indication_of_collateralization, "Collateral: "
    = f.select :indication_of_collateralization, [["Fully","FC"],["Over","OC"],["Partially","PC"],["None","UC"]]
  #indexec
    = f.label  :indication_of_end_user_exception, "End User?: "
    = f.select :indication_of_end_user_exception, [["Yes","Y"],["No","N"]]
  #execven
    = f.label  :execution_venue, "SEF?: "
    = f.check_box :execution_venue, {}, "ON", "OFF"
  #effdate
    = f.label  :effective_date, "Effective Date: "
    = f.text_field :effective_date
  #enddate
    = f.label  :end_date, "End Date: "
    = f.text_field :end_date
  #setcur
    = f.label  :settlement_currency, "Currency: "
    = f.text_field :settlement_currency
  #notcur1
    = f.label  :notional_currency_1, "Leg1 Currency: "
    = f.text_field :notional_currency_1
  #notcur2
    = f.label  :notional_currency_2, "Leg2 Currency: "
    = f.text_field :notional_currency_2
  #rnot1
    = f.label  :rounded_notional_amount_1, "Notional 1: "
    = f.text_field :rounded_notional_amount_1
  #rnot2
    = f.label  :rounded_notional_amount_2, "Notional 2: "
    = f.text_field :rounded_notional_amount_2
  #optstr
    = f.label  :option_strike_price, "Strike: "
    = f.text_field :option_strike_price
  #optype
    = f.label  :option_type, "Position: "
    = f.text_field :option_type
  #optprem
    = f.label  :option_premium, "Premium"
    = f.text_field :option_premium
  #optexp
    = f.label  :option_expiration_date, "Expiry"
    = f.text_field :option_expiration_date
  #floatleg
    = f.label  :floating_leg_reset, "Libor Basis"
    = f.text_field :floating_leg_reset
  = f.submit 'Save'

:javascript
  $(document).ready(function (){
    $("#market").change(function() {
        if ($(this).val() == "InterestRate:IRSwap:FixedFloat") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        }

        else if ($(this).val() == "OIS Swap: InterestRate:IRSwap:OIS") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1").toggle("show");
        } 

        else if ($(this).val() == "CCY Swap: InterestRate:CrossCurrency:Basis" ||  "InterestRate:CrossCurrency:FixedFloat" || "InterestRate:CrossCurrency:FixedFixed") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #floatleg").toggle("show");
        } 

        else if ($(this).val() == "Swaption: InterestRate:Option:Swaption") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        } 

        else if ($(this).val() == "Cap/Floor: InterestRate:CapFloor") {
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #notcur2, #rnot1, #rnot2, #optstr, #optype, #optprem, #optexp, #floatleg").toggle("hide");
        $("#cleared, #indcol, #indexec, #execven, #effdate, #enddate, #setcur, #notcur1, #rnot1, #floatleg").toggle("show");
        } 
    });
  });


