
%table#datatables.table-bordered.table-hover{style: "width:100%;cellspacing:0px;"}
  %thead
    %tr
      %th#id Id
      %th Effective date
      %th End date
      %th Notional
      %th Floating Leg
      %th Price Metric

  %tbody
    - @scopedsearch.each_with_index do |s, i|
      %tr
        %td= i+1
        %td.clicker#tooler= link_to Time.at(s.effective_date), 'javascript:void(0)',"data-placement" => "top", :title => "\tDissemination_id: #{s.dissemination_id}\nTaxonomy: #{s.taxonomy}\nCleared: #{s.cleared}\nIndication of Collateralization: #{s.indication_of_collateralization}\nIndication of End User Exception: #{s.indication_of_end_user_exception}\nSEF?: #{s.execution_venue}\nEffective date: #{Time.at(s.effective_date)}\nEnd date: #{Time.at(s.end_date)}\nCurrency: #{s.settlement_currency}\nLeg1 Currency: #{s.notional_currency_1}\nLeg2 Currency: #{s.notional_currency_2}\nNotional 1: #{s.rounded_notional_amount_1}\nNotional 2: #{s.rounded_notional_amount_2}\nStrike: #{s.option_strike_price}\nPosition: #{s.option_type}\nExpiry: #{s.option_premium}\nLibor Basis: #{s.option_expiration_date}", "data-toggle" => "tooltip"
        %td= Time.at(s.end_date)
        %td= s.notional_currency_1
        %td
        %td
/ Taxonomy: #{s.taxonomy} Cleared: #{s.cleared} Indication of Collateralization #{s.indication_of_collateralization} Indication of End User Exception #{s.indication_of_end_user_exception} SEF?: #{s.execution_venue} Effective date: #{s.effective_date} End date: #{s.end_date} Currency: #{s.settlement_currency} Leg1 Currency: #{s.notional_currency_1} Leg2 Currency: #{s.notional_currency_2} Notional 1: #{s.rounded_notional_amount_1} Notional 2: #{s.rounded_notional_amount_2} Strike: #{s.option_strike_price} Position: #{s.option_type} Expiry: #{s.option_premium} Libor Basis: #{s.option_expiration_date}

:javascript
  $(function () {
    $("#datatables").scrollTableBody({rowsToDisplay:13.1});

  });

