
%table#datatables.table-bordered.table-hover{style: "width:100%;cellspacing:0px;"}
  %thead
    %tr
      %th#id Id
      %th Effective date
      %th End date
      %th Notional
      %th Floating Leg
      %th Price Metric

  %tbody
    - @scopedsearch.each_with_index do |s, i|
      %tr
        %td= i+1
        %td.clicker= link_to s.effective_date, 'javascript:void(0)',"data-placement" => "top", :title => "Dissemination_id: #{s.dissemination_id}", "data-toggle" => "tooltip"
        %td= s.end_date
        %td= s.notional_currency_1
        %td
        %td

:javascript
  $(function () {
    $("#datatables").scrollTableBody({rowsToDisplay:13.1});
    $('.clicker').tooltip({trigger: 'click'});
  });
