%h1 Listing searches

%table
  %tr
    %th Cleared
    %th Indication of collateralization
    %th Indication of end user exception
    %th Execution venue
    %th Effective date
    %th End date
    %th Settlement currency
    %th Notional currency 1
    %th Notional currency 2
    %th Rounded notional amount 1
    %th Rounded notional amount 2
    %th Option strike price
    %th Option type
    %th Option premium
    %th Option expiration date
    %th Floating leg reset
    %th User
    %th
    %th
    %th

  - @searches.each do |search|
    %tr
      %td= search.cleared
      %td= search.indication_of_collateralization
      %td= search.indication_of_end_user_exception
      %td= search.execution_venue
      %td= search.effective_date
      %td= search.end_date
      %td= search.settlement_currency
      %td= search.notional_currency_1
      %td= search.notional_currency_2
      %td= search.rounded_notional_amount_1
      %td= search.rounded_notional_amount_2
      %td= search.option_strike_price
      %td= search.option_type
      %td= search.option_premium
      %td= search.option_expiration_date
      %td= search.floating_leg_reset
      %td= search.user
      %td= link_to 'Show', search
      %td= link_to 'Edit', edit_search_path(search)
      %td= link_to 'Destroy', search, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Search', new_search_path
