$("#<%= @bodyidentifier -%> .panel-body").empty();
$("#<%= @bodyidentifier -%> .panel-body").prepend('<div class="first"></div><div class="second"></div>');
$("#<%= @bodyidentifier -%> .panel-body .first").html("<%= j render 'show_data_table' %>");
$("#<%= @bodyidentifier -%> .panel-heading .widgetname").html("<%= j render 'searchname' %>");