%h1 Listing views

%table
  %tr
    %th Name
    %th Body
    %th User
    %th
    %th
    %th

  - @views.each do |view|
    %tr
      %td= view.name
      %td= view.body
      %td= view.user
      %td= link_to 'Show', view
      %td= link_to 'Edit', edit_view_path(view)
      %td= link_to 'Destroy', view, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New View', new_view_path
