!!!
%html{"ng-app" => "Gammatrace"}
  %head
    %title Quantapp
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = include_gon


  %body#main.backblack{"ng-controller" =>"DashboardCtrl"}
    -# %div{"ng-controller" =>"DashboardCtrl"}
    %header.navbar.navbar-default.back2.navbar-fixed-top.bs-docs-nav{role: "banner",style:"z-index:100000000000;"}
      .container.topbottom10
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      /     / .navbar-brand.custom
      /     = image_tag("gammatrace.png",class: "navbar-brand", style: "padding-top:15px;padding-bottom:15px")
      /   %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
      /     %ul.nav.navbar-nav.floatright
      /       %li
      /         - if user_signed_in?
      /           = link_to "Sign out", destroy_user_session_path, method: :delete
      /         - else
      /           = link_to "Sign in", new_user_session_path
      = render "navigationbar"
  #sidebar.container-fluid.nopadding{style:"width:80px;float:left;text-align:left;border-right: 1px solid red;border-left: 1px solid red;height:900px;position:fixed;"}
    %h5{style:"display:block;padding-left:10px;padding-top:10px;padding-bottom:10px;margin:0px !important;border:1px solid;"} Searches
    %ul{style:"font-size:10px;padding-left:0px;"}
      %li{style:"text-align:left !important;padding:2px;border:1px solid;"}
        = link_to 'New Search', new_user_search_path(@user), {remote: true}
        #sidebarinner= render "interest_swaps/searchlist"
  #sidebar2.container-fluid.nopadding{style:"z-index:2000000000000;left:79px;display:none;width:400px;float:left;text-align:left;border-left: 1px solid red;position:fixed;"}
  =yield
   

