!!!
%html
  %head
    %title Quantapp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{role: "banner"}
      .container.topbottom10
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / .navbar-brand.custom
          = image_tag("gammatrace.png",class: "navbar-brand", style: "padding-top:15px;padding-bottom:15px")
        %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
          %ul.nav.navbar-nav.floatright
            %li
              - if user_signed_in?
                = link_to "Sign out", destroy_user_session_path, method: :delete
              - else
                = link_to "Sign in", new_user_session_path

      #bs-example-navbar-collapse-1.collapse.navbar-collapse.back2
        .container
          %ul.nav.navbar-nav.back2
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Search
                %b.caret
              %ul.dropdown-menu
                %li#showsearches 
                  %a All Searches
                %li= link_to 'New Search', new_user_search_path(@user), { remote: true, "data-toggle" => "modal", "data-target" => "#tablemodal"}
            %li#addtermstructure
              %a{:href => "#"} Term Structure
            %li#addtimeseries
              %a{:href => "#", id: "timeseries"} Time Series
            %li#adddatatable
              %a{:href => "#"} Data Table
            %li#adddetails
              %a{:href => "#"} Details
            %li#addois
              %a{:href => "#"} OIS
            %li#addccy
              %a{:href => "#"} CCY
            %li#addvega
              %a{:href => "#"} Vega
            %li#addvolterm
              %a{:href => "#"} Vol Term
            %li#addvoltail
              %a{:href => "#"} Vol Tail
            %li
              %a{:href => "#"} Time Series
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Views
                %b.caret
              %ul.dropdown-menu
                - current_user.searches.each do |s|
                  %li=link_to s.name, user_search_path(@user.id, s)
    = yield