!!!
%html
  %head
    %title Quantapp
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body#main.backblack
    %header.navbar.navbar-default.back2.navbar-fixed-top.bs-docs-nav{role: "banner",style:"z-index:100000000000;"}
      .container.topbottom10
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      /     / .navbar-brand.custom
      /     = image_tag("gammatrace.png",class: "navbar-brand", style: "padding-top:15px;padding-bottom:15px")
      /   %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
      /     %ul.nav.navbar-nav.floatright
      /       %li
      /         - if user_signed_in?
      /           = link_to "Sign out", destroy_user_session_path, method: :delete
      /         - else
      /           = link_to "Sign in", new_user_session_path

      #bs-example-navbar-collapse-1.collapse.navbar-collapse.back3
        .container-fluid.nopad
          = image_tag("gammatrace.png",class: "navbar-brand", style: "padding-top:15px;padding-bottom:15px")
          %ul.nav.navbar-nav.navbar-left.back3.centerize
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:void(0)"}
                %i.fa.fa-search
                Search
              %ul.dropdown-menu
                %li#showsearches 
                  %a All Searches
                %li
            %li#addtermstructure
              %a{:href => "javascript:void(0)"} 
                %i.fa.fa-area-chart
                Term Structure
                
            %li#addtimeseries
              %a{:href => "javascript:void(0)", id: "timeseries"}
                %i.fa.fa-area-chart
                Time Series
                
            %li#adddatatable
              %a{:href => "javascript:void(0)", id: "datatable"}
                %i.fa.fa-table
                Data Table
                
            %li#adddelta
              %a{:href => "javascript:void(0)", id: "delta"} 
                %i.fa.fa-bar-chart
                Delta
                
            %li#addois
              %a{:href => "javascript:void(0)", id: "ois"} 
                %i.fa.fa-bar-chart
                OIS
                
            %li#addccy
              %a{:href => "javascript:void(0)", id: "ccy"} 
                %i.fa.fa-bar-chart
                CCY
                
            %li#addvega
              %a{:href => "javascript:void(0)", id: "vega"} 
                %i.fa.fa-list-alt
                Vega
                
            %li#addvolterm
              %a{:href => "javascript:void(0)", id: "volterm"} 
                %i.fa.fa-list-alt
                Vol Term
                
            %li#addvoltail
              %a{:href => "javascript:void(0)", id: "voltail"}  
                %i.fa.fa-list-alt
                Vol Tail
                
            
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:void(0)"}
                %i.fa.fa-image
                Views
                
              %ul.dropdown-menu
                %li= link_to 'Save View', new_user_view_path(@user), { remote: true, "data-toggle" => "modal", "data-target" => "#viewmodal"}
                %li
                  %a{:href => "#"} Some other action
                %li.divider
                %li.dropdown-submenu
                  %a{:href => "#", :tabindex => "-1"} Load a view
                  %ul#allviews.dropdown-menu
                    - current_user.views.each do |v|
                      %li
                        =link_to v.name, user_view_path(@user.id, v), remote: true
          
          %ul.nav.navbar-nav.navbar-right{style:"margin-right:15px"}
            %li
              - if user_signed_in?
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  Sign Out
              - else
                = link_to new_user_session_path do
                  %i.fa.fa-sign-in
                  Sign In
  #sidebar.container-fluid.nopadding{style:"width:80px;float:left;text-align:left;border-right: 1px solid red;border-left: 1px solid red;height:900px;position:fixed;"}
    %h5{style:"display:block;padding-left:10px;padding-top:10px;padding-bottom:10px;margin:0px !important;border:1px solid;"} Searches
    %ul{style:"font-size:10px;padding-left:0px;"}
      %li{style:"text-align:left !important;padding:2px;border:1px solid;"}
        = link_to 'New Search', new_user_search_path(@user), {remote: true}
    #sidebarinner
      %ul{style:"font-size:10px;padding-left:0px;"}
        = render "interest_swaps/searchlist"
  #sidebar2.container-fluid.nopadding{style:"z-index:2000000000000;left:79px;display:none;width:400px;float:left;text-align:left;border-left: 1px solid red;position:fixed;"}
  =yield
   

